<section class="module module-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="accordion" id="accordion-1">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0"><a data-toggle="collapse" data-target="#collapse-system">Acerca de Read & Share</a></h6>
                        </div>
                        <div class="collapse show" id="collapse-system" data-parent="#accordion-1">
                            <div class="card-body">
                                <table class="info-sys">
                                    <tr>
                                        <td><i class="fa fa-bolt"></i>System</td>                                        
                                        <td>1.0.0</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-database"></i>DataBase</td>
                                        <td>4.12.1</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-calendar-o"></i>Date</td>
                                        <td>07.07.2018 07.33</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0"><a class="collapsed" data-toggle="collapse" data-target="#collapse-author">Comentarios del autor</a></h6>
                        </div>
                        <div class="collapse" id="collapse-author" data-parent="#accordion-1">
                            <div class="card-body">
                                <!-- <p>Este sitio nace con la finalidad de compartir libros y simplificar mi vida un poco, ya que estoy tomando algunos tips 
                                    sobre el estilo de vida minimalista y poniendo en practica un poco el desapego. No incito a nadie a que se deshaga de sus
                                    libros y pertenencias. Simplemete te invito a que te cuestiones y si quieres compartir un libro que consideras importante 
                                    y que podria ayudar a otras personas o simplemente ese libro no es de tus favoritos puedes aprobechar para compartirlo 
                                    y de paso agregarle un poco de intriga compartiendo un mensaje oculto en el código QR generado por el sitio. Un mensaje que 
                                    solo algunos lectores van a descubrir.
                                </p> -->
                                <p>Tome la decición de compartir algunos libros y se me ocurrio agrearles mensajes ocultos. Primero pense en escribirles algo 
                                    en la contraportada luego pense en que el mensaje deberia permanecer oculto y se ocurrio ponerlo dentro un código QR. 
                                    Esto con la finalidad de generar un poco de intriga en el lector que descubra el libro.
                                    Si estas leyendo esto espero que hayas descubirto un libro o estes por compartir alguno.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>