<section class="module module-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="accordion" id="accordion-1">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0"><a data-toggle="collapse" data-target="#collapse-system">Acerca de QRSay</a></h6>
                        </div>
                        <div class="collapse show" id="collapse-system" data-parent="#accordion-1">
                            <div class="card-body">
                                <table class="info-sys">
                                    <tr>
                                        <td><i class="fa fa-bolt"></i>System</td>                                        
                                        <td>{{ version.system }}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-database"></i>DataBase</td>
                                        <td>{{ version.database }}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-calendar-o"></i>Date</td>
                                        <td>{{ version.date }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h6 class="mb-0"><a class="collapsed" data-toggle="collapse" data-target="#collapse-author">Comentarios del autor</a></h6>
                        </div>
                        <div class="collapse" id="collapse-author" data-parent="#accordion-1">
                            <div class="card-body">
                                <p>Este sitio nace con el objetivo de compartir algunos libros y se me ocurrio agrearles mensajes ocultos. Primero pense en escribirles algo 
                                    en la contraportada luego se me ocurrio que el mensaje deberia permanecer oculto y termine por ponerlo dentro un código QR. 
                                    Esto con la finalidad de generar un poco de intriga en el lector que descubra el libro.
                                    Comparte algo con QR Say!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>