<section class="module module-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="nav nav-pills nav-fill h6">
                    <li class="nav-item"><a class="nav-link active" href="#pills-5" data-toggle="pill">¿Como funciona?</a></li>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="pills-5">
                        <p> Bienvenido a <span style="color: #fff">Read</span> <span style="color:#ff0000">&</span> <span style="color: #fff">Share</span>, este sitio es una iniciativa para compartir libros 
                            agregandole un toque de tecnologia y misterio. Es muy simple participar ya que solo tiene 2 opciones.<br/>
                            Si has encontrado un libro dirigete a la sección de <a ui-sref="promote.reader({id:0})">Readers</a>.
                            Si lo que quieres es compartir uno, dirigete a la sección de <a ui-sref="promote.sharer">Sharers</a>.
                        </p>
                        <p>Proximamente podras registrarte con tu cuenta de google o facebook para que puedas recibir actualizaciones sobre el 
                            estado de tus libros compartidos.
                        </p>
                        <!-- <p>Te invitamos a que te registres usando tu cuenta de google o facebook ya que pronto tendremos nuevas actualizaciones
                            para que puedas seguir el estado de tus libros.
                        </p> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>