<section class="module module-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="nav nav-pills nav-fill h6">
                    <li class="nav-item"><a class="nav-link active" href="#pills-5" data-toggle="pill">How it's works?</a></li>
                    <li class="nav-item"><a class="nav-link" href="#pills-6" data-toggle="pill">Readers</a></li>
                    <li class="nav-item"><a class="nav-link" href="#pills-7" data-toggle="pill">Sharers</a></li>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-5">
                        <p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover local points of interest. Map where your photos.</p>
                    </div>
                    <div class="tab-pane fade" id="pills-6">
                        <p>Started earnest brother believe an exposed so. Me he believing daughters if forfeited at furniture. Age again and stuff downs spoke. Late hour new nay able fat each sell. Nor themselves age introduced frequently use unsatiable devonshire get. They why quit gay cold rose deal park. One same they four did ask busy.</p>
                    </div>
                    <div class="tab-pane fade" id="pills-7">
                        <p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover local points of interest. Map where your photos.</p>
                    </div>
                    <div class="tab-pane fade" id="pills-8">
                        <p>Started earnest brother believe an exposed so. Me he believing daughters if forfeited at furniture. Age again and stuff downs spoke. Late hour new nay able fat each sell. Nor themselves age introduced frequently use unsatiable devonshire get. They why quit gay cold rose deal park. One same they four did ask busy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
