<div class="tab-pane fade show active" id="pills-7">
    <p>QRSay no esta limitado a compartir mensajes solo en los libros ya que si lo unico que quieres es compartir un mensaje 
        dentro de un código QR, lo puedes hacer. Agrega tu mensaje, imprime el QR y pegalo sobre tu obsequio.
    </p>
    <section class="module module-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <!-- 
                        <div class="form-group col-md-4">
                            <input class="form-control" type="text" name="isbn" ng-model="dataBook.isbn" placeholder="ISBN" required="">
                        </div>
                        <div class="form-group col-md-4">
                            <input class="form-control" type="text" name="title" ng-model="dataBook.title" placeholder="title *" required="">
                        </div>
                        -->
                        <div class="form-group col-md-4">
                            <input class="form-control" type="text" name="author" ng-model="dataBook.author" placeholder="author">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="form-group col-md-4">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <div class="form-group col-md-4">
                    <input class="form-control" type="text" name="email" placeholder="email">
                </div> -->
                <div class="form-group col-md-12">
                    <textarea class="form-control" name="message" ng-model="dataBook.sharedMessage" placeholder="Message" rows="8"></textarea>
                </div>
                <div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="checkbox checbox-switch switch-dark rsh-form-element">
                                <label>
                                    <input type="checkbox" ng-model="investBackgroundTagBook" name=""/>
                                    <span></span>
                                    Invertir Colores de etiqueta
                                </label>
                            </div>
                        </div>
                    </div>
                    <p><button class="btn btn-sm btn-gray" ng-click="share()"><span>Say It!</span></button></p>
                </div>
            </div>
            <!-- QR -->
            <div class="row">
                <div id="tag" class="row tag-book" ng-class="investBackgroundTagBook? 'tag-book-white' : 'tag-book'">
                    <div id="qrCode"></div>
                    <div style="max-width: 100%; margin-left: 20px;">
                        <h2 class="page-title-heading">QR<span style="color:#ff0000;">Say</span></h2>
                        <h6 class="page-title-subheading" ng-show="dataBook.author != null"> {{ dataBook.author }}</h6>
                    </div>
                </div>
                <div id="tagImg" style="width: 450px; height: 110px;"></div>
            </div>
        </div>
    </section>
</div>